<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table class="table table-striped">
        <thead>
        <tr>
        <th>student Name</th>
        <th>course</th>
        <th>issue Course Certificate</th>
        <th>Editing details</th>
        <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr align="center">
            <td>{{this.username}}</td>
            <td><a href="/showEntrolledCourses?id={{this._id}}">list enrolled courses </a></td>
            <td><a href="/issueCertificate?id={{this._id}}">click to issue certificate </a></td>
            <td><a href="/updateDetails?id={{this._id}}">click to update Student details </a></td>
            <td><a href="/deteteDetails?id={{this._id}}">click to delete Student details </a></td>
            {{/each}}
        </tbody>
        </table>
    </body>
</html>