<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
     <h1>Student Home Page</h1>
         Name : {{user.username}}<br><br>
         emailId: {{user.emailId}}<br><br>
         role : {{user.role}}<br><br>
         id:{{user._id}}<br><br>
         <form action="/update-personal" method="POST">
         {{user.role}} Id :<input type="text" value={{user._id}} name="_id"> (Dont Change)<br><br>
         {{user.role}} Name :<input type="text" value={{user.username}} name="username"><br><br>
         {{user.role}} Email Id:<input type="text" value={{user.emailId}} name="emailId"><br><br>
         Password Change <br><br>
         Enter New Password :<input type="password" name="password" ><br><br>
         <input type="submit">

         </form>
        <br><br>
        <a href="/index"> Click Here To Go Back To Home Page</a>
    </body>
</html>